<!DOCTYPE html>
<html lang="en">

<%- include('../layouts/header'); -%>
    <%- include('../layouts/scripts'); -%>

        <body>
            <%- include('../layouts/menu'); -%>

                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 mx-auto">

                            <div class="page-heading text-center">
                                &nbsp;
                                <h1>Pre Registro</h1>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">

                    <div class="row">


                        <div class="col-lg-12 col-md-12 mx-auto">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                                <button type="submit" class="btn btn-primary text-center" id="sendNuevo"  onClick="generaRegistro()"
                                    style="width:95px" >Registro</button>
                            </div>
                            <br>
                            <table id="preRegs" 
                            data-search="true" 
                            data-pagination="true" 
                            data-page-list="[10, 25, 50, 100, all]"
                            data-id-field="_id" 
                            data-multiple-select-row="true"
                            data-maintain-meta-data="true" 
                            data-click-to-select="true"
                            data-locale="es-Mx">
                                <thead>
                                    <tr class="header-color">
                                        <th data-checkbox=true data-sortable=true >Seleccionar</th> 
                                        <th data-field="horseName" data-sortable=true >Nombre</th>
                                        <th data-field="foalingDate"data-formatter="dateFormatter" data-sortable=true>Fecha Nac.</th>
                                        <th data-field="sex" data-sortable=true>Sexo</th>
                                        <th data-field="breederId" data-sortable=true>Criador</th>
                                        <th data-field="sireRegNum" data-sortable=true>Semental</th>
                                        <th data-field="damRegNum" data-sortable=true>Hembra</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>

                </div>
                <script>

                    let data = <%- data %>;
                    console.log(data)
                    var $table = $('#preRegs')

                    function buildTable($el)
                    {

                        $el.bootstrapTable({

                             data: data,
                           // onClickRow: function (row, $element) {
        // row: the record corresponding to the clicked row, 
        // $element: the tr element.
        //nuevoCaballo(row._id, row.horseName, row.ownerId) 
    //}
                        })
                    }

                    
                    function dateFormatter(value){

                        fecha = dayjs(new Date(value))
                       // fecha.format('YYYY-MM-DD')
                       // console.log(fecha.format('YYYY-MM-DD'))
                        return fecha.format('YYYY-MM-DD')
                        
                    }


                    function iconformatter(value)
                    {
                        console.log(value)
                        let img = `<img src="https://lusitanos.s3.us-east-1.amazonaws.com/hierros/${ value }.bmp" alt="" width="60" height="auto" onerror=src="/assets/img/icono.png">'`
                        console.log(img)
                        return img
                    }



                    $(function ()
                    {
                        buildTable($table)
                    })
                </script>

                <!-- Modal
                <div class="modal fade" id="owModal" tabindex="-1"  data-bs-backdrop="static" data-bs-keyboard="false"
                    role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel">Modal title</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">



                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div> -->



                <%- include('../layouts/footer'); -%>



        </body>

</html>