<h3>Premios</h3>
<div class="container">
    <div class="row">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-primary text-center" id="nuevaPrem" style="width:95px"
                data-bs-toggle="modal" data-bs-target="#nuevaPre" aria-expanded="false" aria-controls="nuevaPre"
                value="<%= preId = '0' %>"
                onclick="premioBtnNueva('<%= id %>')">Nuevo
            </button>
        </div>



        <div class="col-lg-12 col-md-12 mx-auto">

            <table id="premios" data-search="true" data-pagination="true" data-page-list="[10, 25, 50, 100, all]"
                data-show-export="true" data-toolbar="#toolbar" data-id-field="_id" data-show-export="true"
                data-click-to-select="true">

                <thead>
                    <tr class="header-color">
                        
                        <th data-sortable="true" data-field="competicion">Competicion</th>
                        <th data-sortable="true" data-field="fecha" data-formatter="dateFormatter">Fecha</th>
                        <th data-sortable="true" data-field="grupo" >Grupo</th>
                        <th data-sortable="true" data-field="grupoNo">Grupo No</th>
                        <th data-sortable="true" data-field="nombreGrupo">nombre Grupo</th>
                        <th data-sortable="true" data-field="caballoNo">caballoNo</th>
                        <th data-sortable="true" data-field="medalla">Medalla</th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="nuevaPre" tabindex="-1"  data-bs-backdrop="static" data-bs-keyboard="false"
    role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Premios</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="newPre" class="was-validated" action="javascript:sanitRegistrar(<%= id %>)" method="POST" enctype="multipart/form-data">
                <div class="card card-body">
                        <div class="row">
                            <div class="col-lg-11">
                                <br>
                                <div class="row">
                                    <input type="hidden" id="preId" name="preId" value="0">
    
                                    <div class="col-lg-3 mt-3">
                                        <label>Competición</label>
                                        <input type="input" class="form-control" id="competicionPre" name="competicionPre" >
                                    </div>
                                    <div class="col-lg-3 mt-3">
    
                                        <label>Fecha:</label>
                                        <input type="date" class="form-control" id="fechaPre" name="fechaPre">
                                        <br><br><br>
    
                                    </div>
                                    
                                    <div class="col-lg-3 mt-3">
                                        <label>Grupo</label>
                                        <input type="input" class="form-control" id="grupoPre" name="grupoPre">
    
                                    </div>
    
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 mt-3">
                                        <label>Grupo No</label>
                                        <input type="input" class="form-control" id="grupoNPre" name="grupoNPre">
    
                                    </div>
                                    <div class="col-lg-3 mt-3">
                                        <label>Nombre Grupo</label>
                                        <input type="input" class="form-control" id="nombreGPre" name="nombreGPre" >
                                    </div>
                                    <div class="col-lg-3 mt-3">
                                        <label>Caballo No</label>
                                        <input type="input" class="form-control" id="caballoNPre" name="caballoNPre">
    
                                    </div>
                                    <div class="col-lg-3 mt-3">
                                        <label>Medalla</label>
                                        <input type="input" class="form-control" id="medallaNPre" name="medallaNPre">
    
                                    </div>
    
                                </div>
                            </div>
                        </div>
                </div>
                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary text-center"
                onclick="preAgrega('<%= id %>')" id="preAgregar">Agregar</button>
                <button type="button" class="btn btn-primary text-center" id="preModificar"
                onclick="preModifica('<%= id %>')">Modificar</button>
                <button type="button" class="btn btn-primary text-center" id="preEliminar"
                onclick="preElimina('<%= id %>')">Eliminar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>