<!DOCTYPE html>

<%- include('layouts/header'); -%>
<%- include('layouts/scripts'); -%>
<html>
    <body>
        <%- include('layouts/menu'); -%>
        <%- include('pres'); -%>
        <%- include('layouts/footer'); -%>
    </body>
</html>
